<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Book</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<h1>Book details</h1>
<table>
  <tr>
    <td>Title:</td>
    <td th:text="${book.title}"></td>
  </tr>
  <tr>
    <td>Author:</td>
    <td th:text="${book.author} != '' ? ${book.author} : 'UNKNOWN'"></td>
  </tr>
  <tr>
    <td>Year of pubblication:</td>
    <td th:text="${book.yearPubblication} != 0 ? ${book.yearPubblication} : 'UNKNOWN'"></td>
  </tr>
  <tr>
    <td>Price:</td>
    <td th:text="${book.price} > 0 ? ${book.price}+'€' : 'NOT ON SALE'"></td>
  </tr>
</table>
</body>
</html>