<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Books</title>
</head>
<body>
<h1>List of books</h1>
<table>
  <tr>
    <th>id</th>
    <th>Title</th>
    <th>Author</th>
    <th>Year of pubblication</th>
    <th>Price</th>
  </tr>
  <th:block th:each="book : ${books}">
    <tr>
      <td th:text="${book.id}"></td>
      <td th:text="${book.title}"></td>
      <td th:text="${book.author}"></td>
      <td th:text="${book.yearPubblication}"></td>
      <td th:text="${book.price}">€</td>
    </tr>
  </th:block>
</table>
</body>
</html>